@model BusinessLogicLayer.ActivitiesBLL

<div>
    <h4>ActivitiesBLL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approveby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approveby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeofActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeofActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproveTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproveTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
